.container-messenger {
  background-color: white;
  box-shadow: 1px 1px 10px 1px black;
  margin-top: 5rem;
  padding: 2rem;
  background: white;
}

.header-user {
  margin: auto 0;
  width: 8rem;
}

.header-logout {
  width: 8rem;
  text-align: right;
}

.header-messenger {
  justify-content: space-around;
}

.messages-list {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.input-row {
  display: flex;
  justify-content: center;
}

.own-message {
  text-align: left;
  max-width: 30rem;
  width: 100%;
  background: lightblue;
  padding-left: 2rem;
  border-radius: 1rem;
  margin-bottom: 0.2rem;
}

.message {
  text-align: right;
  max-width: 30rem;
  width: 100%;
  background: aliceblue;
  padding-right: 2rem;
  border-radius: 1rem;
  margin-bottom: 0.2rem;
}

.message-from {
  font-weight: bold;
}

.message-text {
  font-size: larger;
}